page-login {
    
    $font-color: #a3a3a3;
    $app-color : #50c188;
    .logo {
        height: 40vh;
    }
    .inputbox {
        height: 20vh;
    }
    .buttonbox {
        height: 25vh;
        //background-color: beige;
    }
    .additional {
        height: 15vh;
        //background-color: black;
        font-size : 0.8em;
        padding-top: 10px;
        color : $app-color;
    }
    .input_box {
        font-size: 17px;
        border-bottom: 1px solid $font-color;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        padding-bottom: 10px;
        padding-left : 10px;
        width: 100%;
        color: $font-color;
    }
    .icon {
        font-size: 20px;
        color: $font-color;
    }
    .button_item {
        width:100%;
        height:50px; 
    }
    .button {
        width:100%;
    }
    
    #btn_login {
        background-color:  $app-color;
    }
    
    #btn_space {
        background-color: #ffffff;
        color:$font-color;
        padding-top : 0px;
        padding-bottom: 0px;
        height: 30px;
    }
    
    #btn_kakao {
        background-color: #ffde00;
        color:#000000;
    }
    
    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $font-color;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: $font-color;
    }
    :-ms-input-placeholder {
        /* IE 10+ */
        color: $font-color;
    }
    :-moz-placeholder {
        /* Firefox 18- */
        color: $font-color;
    }
}