page-login {
    
    .logo {
        height:40vh;
    }
    
    .inputbox {
        height:20vh;
    }
    
    .buttonbox {
        height: 25vh;
        background-color: beige;
    }
    
    .additional {
        height: 15vh;
        background-color: black;
    }
    
}