<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC  
 	"-//mybatis.org//DTD Mapper 3.0//EN"  
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tcp.pandora.dateMapper">
	<select id="findAll" resultType="com.tcp.pandora.entity.Date">
		SELECT * FROM date;
	</select>
	
	<select id="findOne"
			resultType="com.tcp.pandora.entity.Date"
			parameterType="map">
		SELECT * FROM date WHERE id = #{id} AND couple_id = #{coupleId};
	</select>
	
	<insert id="add" parameterType="com.tcp.pandora.entity.Date">
		INSERT INTO date (id, couple_id, days, public, thumbnail) 
		VALUES (#{id}, #{coupleId}, #{days}, #{publicCondtion}, #{thumbnail});
	</insert>
	
	<delete id="deleteOne">
		DELETE FROM date WHERE id = #{id};
	</delete>
</mapper>