page-signup {
    
    .photo {
        height:25vh;
    }
    
    .inputbox {
        height:40vh;
        background-color: aquamarine;
    }
    
    .buttonbox {
        height: 15vh;
        background-color:black;
    }
    
    #icon_camera {
        font-size: 60px;
    }
    
}